# Fonksiyonlar

##### Fonksiyonlar birden fazla girdiyi belirli işlemlerden geçirerek birden fazla çıktı verebilen yapılardır. 
Fonksiyonları birer kara kutu olarak düşünebiliriz. Kutuya bir girdi göndeririz, 
kutu içerisinde girdiye belirli işlemler uygulanır ve sonucunda bir çıktı verir.

#### Kullanıcı tanımlı fonksiyonlara ne zaman ihtiyacımız olur?
###### *Bir kod bloğunu birden fazla kez kullanmak gerektiğinde
###### *Fonksiyona verilen anlamlı isimler sayesinde kodu anlamayı kolaylaştırır.
###### *Kodda bir değişiklik yapılacağı zaman birden fazla yerde değil sadece fonksiyonun içerisinde değişiklik yapmamıza olanak sağlar.
###### *Kopyala-yapıştır yaparken oluşabilecek hataları önler.

#### Peki bir fonksiyonu oluştururken dikkat edilmesi gerekenler nelerdir?
###### *Kısa ama açıklayıcı bir isim seçilmeli, fiiller olabilir
###### *Fonksiyon ismi seçilirken, yaygın olarak kullanılan diğer fonksiyonların isimleriyle aynı olmamalı.(mean<-function(x){})

In [1]:
# ?print komutu ile öntanımlı fonksiyonların dökümantasyonunu incelenebilir.

In [2]:
# Fonksiyon Tanimlama
def fonksiyon_ismi(virgül ile ayrılan girdiler):
    Yapilacak islemler
    .
    .
    .
    return 

# Fonksiyonu çağırma
fonksiyon_ismi(virgül ile ayrılan girdiler)

SyntaxError: invalid syntax (2869130759.py, line 2)

In [3]:
# Fonksiyon Tanimlama
def calculate(x):
    print(x * 2)

calculate(11)

22

In [4]:
def summer(arg1, arg2):
    print(arg1+arg2)


summer(5, 3)

8

In [6]:
summer(arg1=7, arg2= 12)

19

## Docstirng
##### Oluşturmak için üçlü tırnak kullanılır

In [7]:
def summer(arg1, arg2):
    """
    Sum of two numbers
    Args:
        arg1: int, float
        arg2: int, float

    Returns:
        int, float

    Examples:
        summer(3,1) = 3+1 = 4

    """
    print(arg1+arg2)

In [8]:
# Girilen Degerleri bir liste icinde saklayacaK fonksiyon
list_store = []


def add_element(a, b):
    c = a * b
    list_store.append(c)
    print(list_store)


add_element(5,3)
add_element(2,4)
add_element(11,9)
add_element(3.3,3)

[15]
[15, 8]
[15, 8, 99]
[15, 8, 99, 9.899999999999999]

### Ön tanımlı fonksiyonlar

In [9]:
def say_hi(string="Merhaba"):
    print(string)
    print("Hello")
    print("Hi")


say_hi()

Merhaba
Hello
Hi

In [10]:
say_hi("Suleyman")

Suleyman
Hello
Hi

### Return 
##### fonksiyondan bir değer döndürmeye yarar

In [11]:
def calculate(varm, moisture, charge):
    return (varm + moisture)/charge


calculate(98,12,60) * 10

18.333333333333332

In [13]:
def calculate(varm, moisture, charge):
    varm = varm * 2
    moisture = moisture * 2
    charge = charge * 2
    output = (varm + moisture)/charge
    return (varm, moisture, charge, output)

calculate(98,12,60)

(196, 24, 120, 1.8333333333333333)

In [26]:
def standardization(a, p):
    return (a * 10/100) * (p ** 2)

standardization(45, 2)

18.0

In [27]:
def calculate(varm, moisture, charge):
    return int((varm + moisture)/charge)   


calculate(98,12,60)

1

In [28]:
def all_calculation(varm, moisture, charge, p):
    a = calculate(varm, moisture, charge)
    b = standardization(a, p)
    print(b * 10)

# all_calculation fonksiyonuna 4 girdi göderiliyor. 
# a değeri gönderilen değerler ile hesaplanıp bir başka fonksiyona girdi olarak gönderiliyor.

all_calculation(80, 15, 70, 2)

4.0

### İf Elif Else
###### koşullu durumlar için kullanılır.

In [29]:
def check_num(x):
    if x == 20:
        print("equal to 20")
    elif x > 20:
        print("greater than 20")
    else:
        print("less than 20")


check_num(21)

greater than 20

In [30]:

def check_age():
    age = int(input("Enter your age"))
    if age >= 18:
        print("You are old enough to learn to drive")
    else:
        print("You need", 18-age, "more years to learn to drive")


check_age()

Enter your age 21

You are old enough to learn to drive

In [31]:
my_age = 22
def who_is_older():
    your_age = int(input("Enter your age:"))
    if your_age == my_age:
        print("We are the same age!")
    elif your_age > my_age:
        print("You are", (your_age - my_age),"years older than me")
    else:
        print("You are", (my_age - your_age), "years younger than me")

who_is_older()

Enter your age: 17

You are 5 years younger than me

### Loops

In [32]:
students = ["John", "Mark", "Venessa", "Miriam"]
# i students üzerinde dolaşarak her bir döngüde bir değeri tutar.
# 1. döngü -> i = John
# 2. döngü -> i = Mark
# 3. döngü -> i = Venessa
# 4. döngü -> i = Miriam
for i in students:
    print(i)

John
Mark
Venessa
Miriam

In [33]:
# enumarate ile değerlerin indexlerine erişilebilir.
# i -> index
# j -> değerler
for i, j in enumerate(students):
    print(i, j)

0 John
1 Mark
2 Venessa
3 Miriam

In [34]:
for i in students:
    print(i.upper())

JOHN
MARK
VENESSA
MIRIAM

In [35]:
salaries = [1000, 2000, 3000, 4000, 5000]
def new_salary(salary, rate):
    return int(salary * rate / 100 + salary)

for i in salaries:
    print(new_salary(i, 20))

1200
2400
3600
4800
6000

In [36]:
for i in salaries:
    if i >= 3000:
        print(new_salary(i, 15))
    else:
        print(new_salary(i, 30))

1300
2600
3450
4600
5750

In [37]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [39]:
# range(len(string)) -> 0'dan string uzunlu kadar bir seri oluşturmaya yarar
# Ör: range(0,10) 0'dan 10'a kadar bir seri oluşturur.
# Ör: range(30, 20, -1) 30'dan 20'ye kadar birer azalan seri oluşturur.
def alternating(string):
    new_string = ""
    for i in range(len(string)):
        if i % 2 == 0:
            new_string += string[i].upper()
        else:
            new_string += string[i].lower()
    print(new_string)
    

alternating("data science")

DaTa sCiEnCe

### Break & Continue

In [40]:
# Dögü break ifadesini gördüğü zaman döngüyü durdurur
for i in salaries:
    if i == 3000:
        break
    print(i)

1000
2000

In [42]:
# Döngü continue ifadesini gördüğü zaman üzerinden atlar ve döngüye devam eder
for i in salaries:
    if i == 3000:
        continue
    print(i)

1000
2000
4000
5000

### While
##### "iken" anlamı vardır

In [43]:
number = 1
while number < 6:
    print(number)
    number += 1
    
# number 6'dan küçükken number değerini ekrana yaz ve numberı 1 arttır

1
2
3
4
5

In [47]:
list1 = []
list2 = []

for index, student in enumerate(students):
    if index % 2 == 0:
        list1.append(student)
    else:
        list2.append(student)
        
all_list = [list1, list2]
all_list

[['John', 'Venessa'], ['Mark', 'Miriam']]

In [49]:
def divide_students(students):
    groups = [[], []]
    for index, student in enumerate(students):
        if index % 2 == 0:
            groups[0].append(student)
        else:
            groups[1].append(student)
    print(groups)

    
divide_students(students)

[['John', 'Venessa'], ['Mark', 'Miriam']]

In [50]:
def alternating1(string):
    new_string = ""
    for index, i in enumerate(string):
        if index % 2 == 0:
            new_string += i.upper()
        else:
            new_string += i.lower()
    return new_string

alternating("hi my name is suleyman and i am learning python")

Hi mY NaMe iS SuLeYmAn aNd i aM LeArNiNg pYtHoN

### Zip
###### Farklı listeleri indexleri eşleşecek biçimde birleştirir

In [51]:
students = ["John", "Mark", "Venessa", "Miriam"]
departments = ["math", "statistics", "physics", "astronomy"]
ages = [23, 30, 26, 22]
list(zip(students, departments, ages))

[('John', 'math', 23),
 ('Mark', 'statistics', 30),
 ('Venessa', 'physics', 26),
 ('Miriam', 'astronomy', 22)]

### Lambda, map, filter, reduce

In [52]:
def summer(a, b):
    return a + b


summer(1, 3)
# lambda ile isimsiz olarak kendi fonksiyonlarımızı oluşturabiliriz.
new_sum = lambda a, b: a + b
new_sum(2, 5)

7

In [53]:
salaries = [1000, 2000, 3000, 4000, 5000]
# Map fonksiyonu belirlenen fonksiyonu, belirlenen veri yapısının tüm elemanlarına uygular
list(map(lambda x: x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [54]:
list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Filtreleme yapmamızı sağlar
list(filter(lambda x: x % 2 == 0, list_store))
list(filter(lambda x: x > 5, list_store))

[6, 7, 8, 9, 10]

In [56]:
# Reduce
from functools import reduce
list_store = [1,2,3,4]
reduce(lambda a, b: a + b, list_store)

10

## List Comprehensions

In [57]:
salaries = [1000, 2000, 3000, 4000, 5000]


def new_salary(x):
    return x * 20 / 100 + x


null_list = []
for salary in salaries:
    null_list.append(new_salary(salary))

null_list

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [59]:
# List comprehensions ile tek satırda fonksiyonları kullanabiliriz
[salary * 2 for salary in salaries]
# Salaries listesi içerisindeki her bir gözlem 2 ile çarpıldı

[2000, 4000, 6000, 8000, 10000]

In [60]:
[salary * 2 for salary in salaries if salary < 3000]
# Salaries listesi içerisindeki 3000'den düşük gözlemler 2 ile çarpıldı

[2000, 4000]

In [61]:
# Eğer if else yapısı kullanılacaksa for en sonda yer alır
[salary * 2 if salary < 3000 else salary * 1.3 for salary in salaries]

[2000, 4000, 3900.0, 5200.0, 6500.0]

In [62]:
# Daha önceden tanımlanana fonksiyonlar yapı içerisinde kullanılabilir
[new_salary(salary) if salary < 3000 else new_salary(salary*0.8) for salary in salaries]

[1200.0, 2400.0, 2880.0, 3840.0, 4800.0]

In [64]:
students = ["john", "mark", "venessa", "miriam"]
students_no = ["john", "venessa"]

[student.lower() if student in students_no else student.upper() for student in students]

# students içerisinde students no içerisinde yer alan gözlemler küçültülürken olmayanlar büyütüldü

['john', 'MARK', 'venessa', 'MIRIAM']

## Dict Comprehension

In [67]:
dictionary = {"a" : 1,
              "b" : 2,
              "c" : 3,
              "d" : 4}
dictionary.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [68]:
{k: v ** 2 for (k, v) in dictionary.items()}
# k key değerlerini tutarken v value değerlerini tuttu

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [69]:
{k.upper(): v ** 2 for (k, v) in dictionary.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

In [74]:
numbers = range(10)
new_dict = {}

for n in numbers:
    if n % 2 == 0:
        new_dict[n] = n ** 2
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [75]:
{n: n ** 2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}